body {
  margin: 0;
  text-align: center;
}
.arrow {
  position: absolute;
  margin: auto;
  width: 200px;
  height: 200px;

  right: 650px;
}
hr {
  margin: 0;
  padding: 0;
}
.h1-text-up {
  margin: 100px auto 25px auto;
  font-family: "Architects Daughter", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}
h2 {
  margin: 0;
  padding-bottom: 25px;
}
.h2-pading {
  padding-top: 20px;
  color: white;
}
.h3-desk {
  font-family: "Architects Daughter", cursive;
}
h5 {
  position: relative;
  font-family: "El Messiri", sans-serif;
}
.h3-desk {
  font-family: "Architects Daughter", cursive;
  margin: 0;
  padding-bottom: 25px;
}
.text-replace {
  padding-bottom: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: "Architects Daughter", cursive;
}
.text-class-img {
  display: inline-block;
  height: 10px;
  font-family: "Sansita Swashed", cursive;
}
.text-class-img1 {
  display: inline-block;
  height: 150px;
  width: 400px;
  text-align: justify;
  position: relative;
  left: 450px;
  bottom: 300px;
  font-family: "Sansita Swashed", cursive;
}

.text-h2-shadow {
  text-shadow: -7px 5px 5px rgb(0, 0, 0);
  font-size: 40px;
}
.list-text {
  font-family: "Architects Daughter", cursive;
  font-family: "Nanum Myeongjo", serif;
}
.skills-img {
  display: inline-block;
  width: 25%;
  height: 25%;
  position: relative;
  left: 450px;
}
.skills-arows {
  display: inline-block;
  width: 30%;
  height: 30%;
}
.skills-text {
  margin: auto;
  padding: 30px;
  text-shadow: 5px 5px 5px rgb(241, 236, 213);
  font-size: 40px;
  color: white;
  display: inline-block;
  position: relative;
  left: 450px;
}
.skill-row2 {
  display: inline-block;
  position: relative;
  bottom: 400px;
}
.first-column {
  display: inline-block;
  position: relative;
  left: 65px;
  height: 100px;
  width: 200px;
  text-align: justify;
  line-height: 2;
}
.second-column {
  display: inline-block;
  position: relative;
  left: 60px;
  height: 100px;
  width: 200px;
  text-align: justify;
}
.third-column {
  display: inline-block;
  position: relative;
  left: 25px;
  height: 100px;
  width: 200px;
  text-align: justify;
}
ul {
  padding-left: 10px;
}
li {
  font-family: "Nanum Myeongjo", serif;
}
.ingineer-image {
  display: inline-block;
  width: 20%;
  height: 20%;
  margin-top: 50px;
}
.p {
  font-family: "David Libre", serif;
  font-size: 1.75rem;
  color: #66bfbf;
}

.top-container {
  background-color: #eeeeee;
  width: 100%;
  height: auto;
  display: inline-block;
}
.middle-container {
  background-color: #32e0c4;
  height: auto;
}
.profile {
  padding-top: 20px;
  position: relative;
  right: 500px;
}
.skills-container {
  background-color: #0d7377;
  height: auto;
}
.img-text {
  position: absolute;
}
.end-container {
  padding-top: 50px;
  padding-top: 10px;
  background-color: #212121;
  height: auto;
}
.contact-me {
  background-color: #212121;
  height: auto;
}
.copyright-pading {
  color: white;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.span {
  text-decoration: underline;
  font-weight: normal;
}

.img1 {
  display: inline-block;
  position: absolute;
  width: 90px;
  height: 50px;
  top: 90px;
  right: 500px;
}

.img2 {
  display: inline-block;
  position: absolute;
  width: 90px;
  height: 50px;
  left: 500px;
  top: 150px;
}
.img3 {
  display: inline-block;
  width: 300px;
  height: 300px;
}
.img-size {
  height: 300px;
  width: 300px;
  padding-top: 20px;
}
.footer-link {
  padding: 30px;
  font-family: "Berkshire Swash", cursive;
}
.move-to-right-text {
  position: relative;
  right: 400px;
  bottom: 400px;
}
.knologies {
  position: relative;
  right: 400px;
  bottom: 400px;
}
.gif-image {
  size: 100px;
  height: 100px;
}

.buton-contact-me {
  background: #19a4cc;
  background-image: -webkit-linear-gradient(top, #19a4cc, #1e62d0);
  background-image: -moz-linear-gradient(top, #19a4cc, #1e62d0);
  background-image: -ms-linear-gradient(top, #19a4cc, #1e62d0);
  background-image: -o-linear-gradient(top, #19a4cc, #1e62d0);
  background-image: -webkit-gradient(to bottom, #19a4cc, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 29px;
  font-weight: 100;
  padding: 26px;
  -webkit-box-shadow: 15px 8px 20px 0 #000000;
  -moz-box-shadow: 15px 8px 20px 0 #000000;
  box-shadow: 15px 8px 20px 0 #000000;
  text-shadow: 4px 1px 7px #000000;
  border: solid #337fed 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.buton-contact-me:hover {
  border: solid #337fed 1px;
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
